.ask{
	padding-top: 180px;
	padding-bottom: 180px;
}
.form__flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form__button-flex{
	padding: 12px 54px;

}
.form__input-flex{
	padding: 12px 55px;
}