.map {
	padding-top: 180px;
	position: relative;
}
.map::after{
	content: "V";
	position: absolute;
	
	top: 150px;
	left: calc(50% - 700px) ;
	line-height: 1.15;
	font-size: 400px;
	opacity: 0.04;
	font-family: $font-accent;
}
.map__main {
	width: 100%;
}
iframe.map__main{
	padding-bottom: 50px;
}